
<nav class="navbar navbar-expand-md bg-dark">
    <div class="container">
      <a class="navbar-brand dark" href="https://www.mapinnovation.com.br/" target="_blank">MAP INNOVATION</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active cor-text" aria-current="page" href="#">Home</a>
          <a class="nav-link cor-text" [routerLink]="['/funcionario-map']">Funcionários</a>
        </div>

      </div>
    </div>
    <img id="img-logo" src="https://media-exp1.licdn.com/dms/image/C4E1BAQGDuiLnINhlVA/company-background_10000/0/1519799012814?e=2147483647&v=beta&t=GK5-ZVqzxQo2_s22rzbohF3MWuDeHpI_NreEXDX353g" alt="">

  </nav>